.title-form {
  margin: 60px 16px 16px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.form {
  margin: 8px auto;
  max-width: 70%;
  padding: 12px;
  border-radius: 5px;
  border: solid 1px #323232;
  background-color: #f5f5f5;
  padding: 15px;
}

.input-form {
  display: flex;
  flex-direction: column;
}
